In [1]:
import pandas as pd
from sqlalchemy import create_engine

Extract CSVs into DataFrames

In [2]:
CHIInspection = "C:/Users/bvkka/Desktop/ETLProject/CHIInspection.csv"
CHIInspection_df = pd.read_csv(CHIInspection)
CHIInspection_df.head()

,Inspection ID,DBA Name,AKA Name,License #,Facility Type,Risk,Address,City,State,Zip,Inspection Date,Inspection Type,Results,Violations,Latitude,Longitude,Location
0,2079132,MARRIOT MARQUIS CHICAGO,MARRIOT MARQUIS CHICAGO,2517328.0,Restaurant,Risk 1 (High),2121 S PRAIRIE AVE,CHICAGO,IL,60616.0,08/28/2017,License,Pass,NaN,41.853651,-87.620534,"(41.853650885040594, -87.62053358114167)"
1,2079129,JET'S PIZZA,JET'S PIZZA,2522268.0,Restaurant,Risk 2 (Medium),1025 W MADISON ST,CHICAGO,IL,60607.0,08/28/2017,License,Not Ready,NaN,41.881572,-87.653052,"(41.88157249576794, -87.65305233593274)"
2,2079125,ROOM 1520,ROOM 1520,2446638.0,Special Event,Risk 3 (Low),301 N JUSTINE ST,CHICAGO,IL,60607.0,08/28/2017,License Re-Inspection,Not Ready,8. SANITIZING RINSE FOR EQUIPMENT AND UTENSILS...,41.886577,-87.665328,"(41.88657652150854, -87.66532812140231)"
3,2079123,MARRIOT MARQUIS CHICAGO,MARRIOT MARQUIS CHICAGO,2517338.0,Restaurant,Risk 1 (High),2121 S PRAIRIE AVE,CHICAGO,IL,60616.0,08/28/2017,License,Pass,"35. WALLS, CEILINGS, ATTACHED EQUIPMENT CONSTR...",41.853651,-87.620534,"(41.853650885040594, -87.62053358114167)"
4,2079105,CHARTWELLS,CICS WEST BELDEN CAMPUS,2549079.0,CHARTER SCHOOL,Risk 1 (High),2245 N MCVICKER AVE,CHICAGO,IL,60639.0,08/28/2017,License Re-Inspection,Pass,18. NO EVIDENCE OF RODENT OR INSECT OUTER OPEN...,41.921675,-87.776711,"(41.921675488910864, -87.7767113569357)"

In [3]:
SFInspection = "C:/Users/bvkka/Desktop/ETLProject/SFInspections.csv"
SFInspection_df = pd.read_csv(SFInspection)
SFInspection_df.head()

,business_id,business_name,business_address,business_city,business_state,business_postal_code,business_latitude,business_longitude,business_location,business_phone_number,inspection_id,inspection_date,inspection_score,inspection_type,violation_id,violation_description,risk_category
0,10,Tiramisu Kitchen,033 Belden Pl,San Francisco,CA,94104,37.791116,-122.403816,"(37.791116, -122.403816)",NaN,10_20140114,01/14/2014 12:00:00 AM,92.0,Routine - Unscheduled,10_20140114_103119,Inadequate and inaccessible handwashing facili...,Moderate Risk
1,10,Tiramisu Kitchen,033 Belden Pl,San Francisco,CA,94104,37.791116,-122.403816,"(37.791116, -122.403816)",NaN,10_20140114,01/14/2014 12:00:00 AM,92.0,Routine - Unscheduled,10_20140114_103145,Improper storage of equipment utensils or linens,Low Risk
2,10,Tiramisu Kitchen,033 Belden Pl,San Francisco,CA,94104,37.791116,-122.403816,"(37.791116, -122.403816)",NaN,10_20140114,01/14/2014 12:00:00 AM,92.0,Routine - Unscheduled,10_20140114_103154,Unclean or degraded floors walls or ceilings,Low Risk
3,10,Tiramisu Kitchen,033 Belden Pl,San Francisco,CA,94104,37.791116,-122.403816,"(37.791116, -122.403816)",NaN,10_20140729,07/29/2014 12:00:00 AM,94.0,Routine - Unscheduled,10_20140729_103144,Unapproved or unmaintained equipment or utensils,Low Risk
4,10,Tiramisu Kitchen,033 Belden Pl,San Francisco,CA,94104,37.791116,-122.403816,"(37.791116, -122.403816)",NaN,10_20140729,07/29/2014 12:00:00 AM,94.0,Routine - Unscheduled,10_20140729_103129,Insufficient hot water or running water,Moderate Risk

 Transform CHI DataFrame

In [4]:
# Create a filtered dataframe from specific columns
CHI_cols = ["Inspection ID","DBA Name","Inspection Date","Inspection Type","Violations","Risk"]
CHI_transformed= CHIInspection_df[CHI_cols].copy()

# Rename the column headers
CHI_transformed = CHI_transformed.rename(columns={        "Inspection ID":"ID",
                                                          "DBA Name": "Business Name",
                                                          "Facility Type": "Facility",
                                                           "Violations": "Violation",
                                                          })

# Clean the data by dropping duplicates and setting the index
CHI_transformed.drop_duplicates("Business Name", inplace=True)
CHI_transformed.set_index("ID", inplace=True)

CHI_transformed.head()

,Business Name,Inspection Date,Inspection Type,Violation,Risk
ID,,,,,
2079132,MARRIOT MARQUIS CHICAGO,08/28/2017,License,NaN,Risk 1 (High)
2079129,JET'S PIZZA,08/28/2017,License,NaN,Risk 2 (Medium)
2079125,ROOM 1520,08/28/2017,License Re-Inspection,8. SANITIZING RINSE FOR EQUIPMENT AND UTENSILS...,Risk 3 (Low)
2079105,CHARTWELLS,08/28/2017,License Re-Inspection,18. NO EVIDENCE OF RODENT OR INSECT OUTER OPEN...,Risk 1 (High)
2079104,SHRIMP'S FISH CHICKEN,08/28/2017,License,2. FACILITIES TO MAINTAIN PROPER TEMPERATURE -...,Risk 2 (Medium)

 Transform SF DataFrame

In [5]:
# Create a filtered dataframe from specific columns
SF_cols = ["inspection_id","business_name","inspection_date","inspection_type","violation_description","risk_category"]
SF_transformed= SFInspection_df[SF_cols].copy()


# Rename the column headers
SF_transformed = SF_transformed.rename(columns={        "inspection_id":"ID",
                                                          "business_name": "Business Name",
                                                          "inspection_date": "Inspection Date",
                                                          "inspection_type":"Inspection Type",
                                                          "violation_description": "Violation",
                                                          "risk_category":"Risk"
                                                          })


# Clean the data by dropping duplicates and setting the index
SF_transformed.drop_duplicates("Business Name", inplace=True)
SF_transformed.set_index("ID", inplace=True)

SF_transformed.head()

,Business Name,Inspection Date,Inspection Type,Violation,Risk
ID,,,,,
10_20140114,Tiramisu Kitchen,01/14/2014 12:00:00 AM,Routine - Unscheduled,Inadequate and inaccessible handwashing facili...,Moderate Risk
4864_20161206,DRAGON CITY BAKERY & CAFE,12/06/2016 12:00:00 AM,Routine - Unscheduled,Food safety certificate or food handler card n...,Low Risk
79782_20160503,Deli 23,05/03/2016 12:00:00 AM,Routine - Unscheduled,Moderate risk food holding temperature,Moderate Risk
76437_20160329,Sweetheart Cafe,03/29/2016 12:00:00 AM,Routine - Unscheduled,Sewage or wastewater contamination,High Risk
5813_20140908,LICK MIDDLE SCHOOL,09/08/2014 12:00:00 AM,Routine - Unscheduled,NaN,NaN

 Create database connection

In [6]:
import psycopg2

In [7]:

connection_string = "postgres:Manutd09!@localhost:5433/Inspection_db"
engine = create_engine(f'postgresql://{connection_string}')

Check for tables

In [8]:
engine.table_names()

['CHIInspection', 'SFInspection']

 Use pandas to load csv converted DataFrame into database

In [9]:
SF_transformed.to_sql(name='SFInspection', con=engine, if_exists='append', index=True)

In [10]:
CHI_transformed.to_sql(name='CHIInspection', con=engine, if_exists='append', index=True)

 Confirm data has been added by querying the tables

In [11]:
pd.read_sql_query('select * from "SFInspection"', con=engine).head()

,ID,Business Name,Inspection Date,Inspection Type,Violation,Risk
0,10_20140114,Tiramisu Kitchen,2014-01-14,Routine - Unscheduled,Inadequate and inaccessible handwashing facili...,Moderate Risk
1,4864_20161206,DRAGON CITY BAKERY & CAFE,2016-12-06,Routine - Unscheduled,Food safety certificate or food handler card n...,Low Risk
2,79782_20160503,Deli 23,2016-05-03,Routine - Unscheduled,Moderate risk food holding temperature,Moderate Risk
3,76437_20160329,Sweetheart Cafe,2016-03-29,Routine - Unscheduled,Sewage or wastewater contamination,High Risk
4,5813_20140908,LICK MIDDLE SCHOOL,2014-09-08,Routine - Unscheduled,None,None

In [12]:
pd.read_sql_query('select * from "CHIInspection"', con=engine).head()

,ID,Business Name,Inspection Date,Inspection Type,Violation,Risk
0,2079132,MARRIOT MARQUIS CHICAGO,2017-08-28,License,None,Risk 1 (High)
1,2079129,JET'S PIZZA,2017-08-28,License,None,Risk 2 (Medium)
2,2079125,ROOM 1520,2017-08-28,License Re-Inspection,8. SANITIZING RINSE FOR EQUIPMENT AND UTENSILS...,Risk 3 (Low)
3,2079105,CHARTWELLS,2017-08-28,License Re-Inspection,18. NO EVIDENCE OF RODENT OR INSECT OUTER OPEN...,Risk 1 (High)
4,2079104,SHRIMP'S FISH CHICKEN,2017-08-28,License,2. FACILITIES TO MAINTAIN PROPER TEMPERATURE -...,Risk 2 (Medium)

In [15]:
pd.read_sql_query('SELECT * FROM "CHIInspection" as CHI INNER JOIN "SFInspection" as SF ON (CHI."Business Name" = SF."Business Name")', con=engine).head()

,ID,Business Name,Inspection Date,Inspection Type,Violation,Risk,ID,Business Name,Inspection Date,Inspection Type,Violation,Risk
0,2079072,SUBWAY,2017-08-25,Complaint,None,Risk 1 (High),198_20150206,SUBWAY,2015-02-06,Routine - Unscheduled,Food safety certificate or food handler card n...,Low Risk
1,2078824,MCDONALD'S,2017-08-22,Complaint Re-Inspection,18. NO EVIDENCE OF RODENT OR INSECT OUTER OPEN...,Risk 2 (Medium),3896_20140328,MCDONALD'S,2014-03-28,Routine - Unscheduled,Wiping cloths not clean or properly stored or ...,Low Risk
2,2078517,KFC,2017-08-15,Complaint,32. FOOD AND NON-FOOD CONTACT SURFACES PROPERL...,Risk 1 (High),5118_20161207,KFC,2016-12-07,Routine - Unscheduled,Unclean or degraded floors walls or ceilings,Low Risk
3,2078441,BURGER KING,2017-08-15,Complaint Re-Inspection,"14. PREVIOUS SERIOUS VIOLATION CORRECTED, 7-42...",Risk 2 (Medium),3911_20160329,BURGER KING,2016-03-29,Complaint,None,None
4,2071382,STARBUCKS,2017-07-25,Canvass,33. FOOD AND NON-FOOD CONTACT EQUIPMENT UTENSI...,Risk 2 (Medium),1529_20160801,STARBUCKS,2016-08-01,New Construction,None,None